<% if signed_in? %>
  <div class="row">
    <aside >
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
        <%= render 'shared/gist_form' %>
      
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Gist</h1>

    <h2>
      Home page for the Ruby on Unicorns!
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>
